{% extends "django_rundeck/homepage.html" %}
{% load staticfiles %}

{% block page %}

    <div class="inner-wrapper">
        {% if current_route %}
            <h1>Route</h1>
            <p>{{ current_route.location }}</p>
            <p>{{ current_route.distance }} mi</p>
        {% else %}
            <p>This route does not exist</p>
        {% endif %}

        {# <script src="{% static "build/helloworld.js" %}"> #}
        {# comment this script tag back in and pre-compile the jsx in the command line for production #}   
        {# </script> #}

        <div id="react-test"></div>
        <div id="react-container"></div>

        <script src="{% static "js/Note.js" %}" type="text/jsx" ></script>


{#        <script type="text/jsx">#}
{#            var MyComponent = React.createClass({#}
{#                render: function() {#}
{#                    return <div>#}
{#                            <h1>{this.props.crazy}</h1>#}
{#                            <p>{this.props.children}</p>#}
{#                    </div>;#}
{#                }#}
{#            });#}
{##}
{#            React.render(<div>#}
{#                            <MyComponent crazy="Hey">This is a Hey</MyComponent>#}
{#                            <MyComponent crazy="This is">This is a this</MyComponent>#}
{#                            <MyComponent crazy="Crazy">This is Crazy</MyComponent>#}
{#                </div>, document.getElementById('react-test'));#}
{#        </script>#}

        
        <div class="form-wrapper">
            <form action="/routes/{{ current_route.id }}/edit/" method="post">
                {% csrf_token %}
                <label for="route{{ current_route.id }}">Location: 
                    <input type="" name="location" id="route{{ current_route.id }}" value="{{ current_route.location }}" />
                </label>
                <label for="route{{ current_route.id }}">Distance: 
                    <input type="" name="distance" id="route{{ current_route.id }}" value="{{ current_route.distance }}" />
                </label>
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>

    

{% endblock %}