* { margin: 0; }

html, body { height: 100%; }

.super-wrapper { min-height: 100%; position: relative; padding-top: 58px; }

.rundeck-container { padding-bottom: 150px; }

footer { height: 100px; width: 100%; background-color: #bf7c76; color: black; position: absolute; bottom: 0; left: 0; padding: 50px 0 0 20px; color: #844944; text-shadow: 1px 1px 2px #feaba3; }

body { margin: 0; padding: 0; background-color: #121828; color: white; font-family: Arial, sans-serif; letter-spacing: 0.1em; color: #b1b1b1; background-image: url("/static/img/background.jpg"); background-size: 100%; background-position: 0 0; background-repeat: no-repeat; font-size: 1.0em; }

a { text-decoration: none; color: #ededed; }
a:hover { text-decoration: underline; }

.inner-wrapper { background-color: #ededed; width: 60%; margin: 2% 20% 10% 10%; padding: 2% 5% 10% 5%; color: #374a7c; }
.inner-wrapper h1 { font-size: 2.5em; margin: 10px 0 10px 0; }
.inner-wrapper a { color: #bf7c76; }

.logo { position: relative; margin: 0; padding: 0; top: 3px; left: 10px; }

nav.main-menu { background-color: #bf7c76; height: 58px; position: fixed; top: 0; left: 0; z-index: 500; width: 100%; box-shadow: 0 1px 10px black; }
nav.main-menu ul.nav-container { position: absolute; top: 0; left: 267px; }
nav.main-menu ul.nav-container li { display: inline-block; height: 58px; float: left; text-transform: uppercase; }
nav.main-menu ul.nav-container li a { height: 58px; width: 100%; padding: 21px 40px 20px 40px; position: relative; top: 21px; color: #844944; text-decoration: none; font-family: sans-serif; text-shadow: 1px 1px 2px #feaba3; letter-spacing: 0.05em; }
nav.main-menu ul.nav-container li a:hover { background: #b2615a; text-shadow: 1px 1px 2px #d98e87; color: #653834; }

.runner { position: absolute; top: 0; left: 62.5%; width: 22.5%; height: 1px; padding-bottom: 300%; }
.runner img { width: 100%; height: auto; }

.note { width: 150px; height: 150px; background-color: yellow; }

.board { width: 250px; height: 250px; background-color: yellow; }
