/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

* { margin: 0; }

html, body { height: 100%; }

.super-wrapper { min-height: 100%; position: relative; padding-top: 58px; }

.container { padding-bottom: 150px; }

footer { height: 150px; width: 100%; background-color: #bf7c76; color: black; position: absolute; bottom: 0; left: 0; }

body { margin: 0; padding: 0; background-color: #121828; color: white; font-family: sans-serif; letter-spacing: 0.1em; color: #fff8e5; background-image: url("/static/img/background.jpg"); background-size: 100%; background-position: 0 0; background-repeat: no-repeat; }

a { text-decoration: none; color: #bf7c76; }
a:hover { text-decoration: underline; }

.logo { position: relative; margin: 0; padding: 0; top: 3px; left: 10px; }

nav.main-menu { background-color: #bf7c76; height: 58px; position: fixed; top: 0; left: 0; z-index: 500; width: 100%; box-shadow: 0 1px 10px black; }
nav.main-menu ul.nav-container { position: absolute; top: 0; left: 267px; }
nav.main-menu ul.nav-container li { display: inline-block; height: 58px; float: left; text-transform: uppercase; }
nav.main-menu ul.nav-container li a { height: 58px; width: 100%; padding: 21px 40px 20px 40px; position: relative; top: 21px; color: black; text-decoration: none; font-family: sans-serif; text-shadow: 1px 1px 2px #feaba3; letter-spacing: 0.05em; }
nav.main-menu ul.nav-container li a:hover { background: #b2615a; text-shadow: 1px 1px 2px #e99891; }

.runner { position: absolute; top: 0; left: 62.5%; width: 22.5%; height: 1px; padding-bottom: 300%; }
.runner img { width: 100%; height: auto; }
