{% load staticfiles %}

<header>
    <nav class="main-menu">
        <div class="logo">
            <a href="/"><img src="{% static "img/rundeck-logo.png" %}" alt="Rundeck Logo" /></a>
        </div>

        <ul class="nav-container">
            <li><a href="/efforts">efforts</a></li>
            <li><a href="/routes">routes</a></li>
            <li><a href="/profile">profile</a></li>
        </ul>
        <div class="runner">
            <img src="{% static "img/runner.png" %}" />
        </div>
    </nav>
</header>