{% load staticfiles %}

<!DOCTYPE HTML>


<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Rundeck</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}">
    </head>
    
    <body>
        <div class="super-wrapper">
            
            {% include 'django_rundeck/header.html' %}

            <div class="container">

                {% block page %}
                    <section>
                    
                        <article>
                            <header>
                                <h2>Article title</h2>
                                <p>Posted on <time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
                            </header>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </article>
                        
                        <article>
                            <header>
                                <h2>Article title</h2>
                                <p>Posted on <time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
                            </header>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </article>
                      
                    </section>
                
                    <aside>
                        <h2>About section</h2>
                        <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </aside>                
                {% endblock %}

            </div>

            {% include 'django_rundeck/footer.html' %}
            
        </div>
    
    </body>

</html>